body {
	
}
#text_input {
	color: #D46A6A;
	text-align: left;
}
#submit_input {
	float: right;
}
#response_cnt {
	margin-top: 2em;
	height: 50vh;
	background: #111;
	padding: 2em;
	overflow-y: scroll;
}
.user_talking, .computer_talking {
	font-size: 2em;
	font-family: "Roboto";
}
.user_talking {
	color: #D46A6A;
	text-align: left;
}
.computer_talking {
	color: #615192;
	text-align: right;
}
.panel-body {
	padding-top: 0;
}
.explain_bubble {
	background: #44aaaa;
	color: #000;
	border-radius: 0.5em;
	padding: 0.8em;
	margin: 0.2em;
	word-spacing: 0.4em;
}
.part_symbol {
	font-size: 1.6em;
}